$transition-speed: 200ms;

/* Dropdown animation */
.dropdown {
  &-enter-active {
    transition: opacity $transition-speed, transform $transition-speed;
  }
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms, transform 200ms;
}
